{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "traillingComma": "none",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx"],
  "tabWidth": 2
}